html, body
{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

nav
{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: 2px 2px 2px black;
}
#content
{
    display: grid;
    grid-template-columns: 1fr 6fr;
    flex-grow: 1;
}

.sidebar
{
    padding-top: 1.5em;
    padding-left: 1.5em;
    border-right: 1px grey solid;
    flex-grow: 1;
}

ul
{
    cursor: pointer;
    padding: 0;
    list-style: none;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 8px;
}

